@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* layouts */
.mcontainer-c0 {
  @apply max-w-7xl mx-auto px-2 sm:px-4 lg:px-8;
}
.pageFrame {
  @apply mcontainer-c0 overflow-x-hidden mt-4 mb-10;
}

/* Surfaces-Backgrounds */
.surface-l0 {
  @apply bg-neutral-600 dark:bg-dbg-l0;
}
.surface-l1 {
  @apply bg-lbg-l1 dark:bg-dbg-l1;
}
.surface-l2 {
  @apply bg-lbg-l2 dark:bg-dbg-l2;
}
.surface-l3 {
  @apply bg-lbg-l3 dark:bg-dbg-l3;
}

/* main text */
.mtext-t0 {
  @apply text-ltext-t0 dark:text-dtext-t0;
}
.mtext-t1 {
  @apply text-ltext-t1 dark:text-dtext-t1;
}
.mtext-t2 {
  @apply text-ltext-t2 dark:text-dtext-t2;
}
.mtext-t3 {
  @apply text-ltext-t3 dark:text-dtext-t3;
}

.button-action {
  @apply inline-flex items-center px-4 py-2     
    shadow-sm text-base font-medium  rounded-lg 
  text-white bg-gradient-to-r from-cyan-700 to-cyan-700
  hover:from-blue-800 hover:to-cyan-800 hover:ring-2
    hover:ring-inset hover:ring-cyan-500 hover:ring-opacity-30
    focus:ring-2 focus:ring-inset focus:ring-cyan-500 focus:ring-opacity-100
  focus:outline-none;
}

.button-cancel {
  @apply inline-flex items-center px-4 py-2     
    shadow-sm text-base font-medium  rounded-lg 
  text-white bg-gradient-to-r from-red-700 to-red-700
  hover:from-red-900 hover:to-pink-800 hover:ring-2
    hover:ring-inset hover:ring-red-500 hover:ring-opacity-30
    focus:ring-2 focus:ring-inset focus:ring-red-500 focus:ring-opacity-100
    focus:outline-none;
}

.text-input-field {
  @apply border
                border-neutral-400
                dark:border-neutral-600
                outline-none
                text-sm
                hover:ring-2
                hover:ring-inset
                hover:ring-cyan-500
                hover:ring-opacity-30
                focus:ring-2
                focus:ring-inset
                focus:ring-cyan-500
                focus:ring-opacity-100
                text-neutral-900
                dark:text-neutral-100;
}
