@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.text-input-field {
  @apply border
                border-neutral-400
                dark:border-neutral-600
                outline-none
                hover:ring-2
                hover:ring-inset
                hover:ring-cyan-500
                hover:ring-opacity-30
                focus:ring-2
                focus:ring-inset
                focus:ring-cyan-500
                focus:ring-opacity-100
                text-black
                dark:text-neutral-100
                placeholder-neutral-500
                dark:placeholder-neutral-400
                bg-white
                dark:bg-neutral-700;
}
